header {
  text-align: center;
  border-color: black;
  border-bottom-style: solid;
  border-width: 1px;
  height: 70px;
}

h1 {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: black;
}

article {
  text-align: center;
  height: 100vh;
}
/* 부모태그와 상관없이 높이나 넓이 100% 주는 법
100vw는 브라우저 화면의 넓이, 100vh는 브라우저 화면의 높이 */

.ul {
  margin: 0;
  padding-top: 15px;
  border-right-style: solid;
  border-width: 1px;
}

h2 {
  margin-top: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}

ul {
  margin: 0;
}

.nav {
  list-style-type: decimal;
  display: grid;
  padding-top: 30px;
}

body {
  margin: 0;
}
